<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>班级管理-增加班级</title>
</head>
<body>
	<form action="{:url('save')}" method="post">
		<label for="name">班级名称：</label>
		<input type="text" name="name" id="name" />
		<label for="teacher">teacher:</label>
		<select name="teacher_id" id="teacher">
			{volist name="teachers" id="teacher"}
			<option value="{$teacher->getData('id')}">{$teacher->getData('name')}</option>
			}
			{/volist}
		</select>
		<button type="submit">提交</button>
	</form>
</body>
</html>
